body {
    margin: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

#main-section {
    height: 100vh;
    width: 100vw;
}

#header-section {
    height: 7%;
    background-color: rgba(70,215,172,255);
    color: white;
    padding-top: 10px;
    text-align: center;
    font-size: larger;
    border: 1px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.vertical {
    border-left: 4px solid rgba(70,215,172,255);
    margin-top: 50px;
    height: 300px;
    position:absolute;
    left: 50%;
}

.table-success-edit {
    --bs-table-bg: #a4c744;
}

#footer-section {
    margin-top: 6.5%;
    height: 4%;
    background-color: rgba(70,215,172,255);
    color: #fff;
    font-size: medium;
    text-align: center;
    border: 1px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 760px) {
    .vertical {
        border-left: 4px solid rgba(70,215,172,255);
        margin-top: 50px;
        height: 0px;
        position:absolute;
        left: 50%;    
    }
  }